# Xcode
build/
DerivedData/
*.xcodeproj/
*.xcworkspace/
xcuserdata/
*.xcuserstate
*.xcuserdatad
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods (we don't use, but just in case)
Pods/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.vscode/
.idea/
*.swp

# Logs
*.log
